@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.container h2{
    padding-bottom: 1rem;
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: #ffffff;
}

.container p{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}