@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #FFFFFF;
}
h1{
    font-size: 3em;
    font-family: 'Satisfy', cursive;
}
#title-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0% 5% 0%;
}
.items-contact{
    width: 100%;
    padding: 1% 1% 5% 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}


@media (max-width: 641px) {
    .items-contact {
        padding: 5%;
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
    }
}